<?xml version="1.0"?>
<robot name="pidog">

  <link name="base_link">
    <visual>
      <geometry>
        <box size="0.28575 0.1397 0.05588"/>
      </geometry>
    </visual>
  </link>
  
  <link name="right_front_leg">
    <visual>
       <geometry>
        <mesh filename="package://model/meshes/femur.dae"/>
      </geometry>
      <origin rpy="0.75 0 -1.6" xyz="-0.085 0.082 0"/>
    </visual>
  </link>
  <joint name="body_to_right_front_leg" type="fixed">
    <parent link="base_link"/>
    <child link="right_front_leg"/>
    <origin rpy="0 -1.5 0" xyz="0.092 -0.082 0"/>
  </joint>

  <link name="left_front_leg">
    <visual>
       <geometry>
        <mesh filename="package://model/meshes/femur.dae"/>
      </geometry>
      <origin rpy="0 0 1.6" xyz="0.092 -0.082 0"/>
    </visual>
  </link>
  <joint name="body_to_left_front_leg" type="fixed">
    <parent link="base_link"/>
    <child link="left_front_leg"/>
    <origin rpy="0 1.8 0" xyz="0.092 0.082 0"/>
  </joint>

  <link name="left_back_leg">
    <visual>
      <geometry>
        <mesh filename="package://model/meshes/femur.dae"/>
      </geometry>
      <origin rpy="0 0  1.6" xyz="0.092 -0.082 0"/>
    </visual>
  </link>
  <joint name="body_to_left_back_leg" type="fixed">
    <parent link="base_link"/>
    <child link="left_back_leg"/>
    <origin rpy="0 1.8 0" xyz="-0.092 0.082 0"/>
  </joint>
</robot>
