<?xml version="1.0" ?>
<robot name="test_dummy_export_1" xmlns:xacro="http://www.ros.org/wiki/xacro">

<xacro:include filename="$(find test_dummy_export_1_description)/urdf/materials.xacro" />
<xacro:include filename="$(find test_dummy_export_1_description)/urdf/test_dummy_export_1.trans" />
<xacro:include filename="$(find test_dummy_export_1_description)/urdf/test_dummy_export_1.gazebo" />
<link name="base_link">
  <inertial>
    <origin xyz="-1.5271149684295476e-05 0.018622857125217992 -5.086883985350047e-05" rpy="0 0 0"/>
    <mass value="0.5252537896398036"/>
    <inertia ixx="0.003404" iyy="0.003565" izz="0.000162" ixy="-0.0" iyz="0.0" ixz="-0.0"/>
  </inertial>
  <visual>
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://test_dummy_export_1_description/meshes/base_link.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://test_dummy_export_1_description/meshes/base_link.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

</robot>
